<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JoseDavidHernandezNavarro-A01793021/blob/main/Semana_2_Actividad_1_Python_for_Data_Science_(IBM).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


**José David Hernandez Navarro**

---

**A011793021**

---

***Modulo 4 - 1***

In [ ]:
#Notas


with open("/content/drive/MyDrive/EBSCO/prueba.txt","r") as File1: #Lee el contenido de un archivo

  file_stuff=File1.read()
  
  print(file_stuff)

  #print(File1.closed)
  #print(file_stuff)

hola
me gusta
la vida

In [ ]:
with open("/content/drive/MyDrive/EBSCO/prueba.txt","r") as File1: #Lee el contenido de un archivo y muestra la separacion de lineas

  file_stuff=File1.readlines()
  print(file_stuff)

['hola\n', 'me gusta\n', 'la vida']

In [ ]:
#Lab1 - Reading Files Python
#Lectura de archivos .TXT
example1 = "/content/drive/MyDrive/EBSCO/Ejemplo1.txt"
file1 = open(example1, "r")


print(file1.name) #Imprime la ruta del archivo
print(file1.mode) #Imprime el modo en el que se encuentra el archivo

FileContent = file1.read() #Lee el contenido del archivo TXT
print(FileContent)

print(type(FileContent)) #Imprime el tipo del contenido del TXT
file1.close()

/content/drive/MyDrive/EBSCO/Ejemplo1.txt
r
Hola Maestro Jobish
Me gusta
Programar
<class 'str'>

In [ ]:
#Otra forma de abrir un archivo

with open(example1, "r") as file1:
    FileContent = file1.read()
    print(FileContent)

Hola Maestro Jobish
Me gusta
Programar

In [ ]:
estado = file1.closed #Se confirma si el archivo esta cerrado o abierto
print(estado)


num_caracteres = 19 #Lee los caracteres que deseemos
with open(example1, "r") as file1: 
    print(file1.read(num_caracteres))

True
Hola Maestro Jobish

In [ ]:
with open(example1, "r") as file1: #Lee los numeros de caracteres que deseemos pero si se aplica de nuevo continua donde esta
    print(file1.read(16))
    print(file1.read(5))
    print(file1.read(9))
    print(file1.read(8))

Hola Maestro Job
ish
M
e gusta
P
rogramar

In [ ]:
with open(example1, "r") as file1:
    print(file1.readline(19)) #Con esto no leemos la cantidad de carcateres de la priemra lina
    print(file1.read(19)) # Returns the next 20 chars

Hola Maestro Jobish

Me gusta
Programar

In [ ]:
with open(example1,"r") as file1: #Separa y marca cada uno de los renglones
        i = 0;
        for line in file1:
            print("Renglon", str(i), ": ", line)
            i = i + 1

Renglon 0 :  Hola Maestro Jobish

Renglon 1 :  Me gusta

Renglon 2 :  Programar

In [ ]:
with open(example1, "r") as file1: #guarda los elementos del TXT como lista
    FileasList = file1.readlines()

In [ ]:
print(FileasList[0]) #Imprimer la linea que deseemos de la lista, ene ste caso la primera
print(FileasList[2]) #Nuevamente imprime la linea que uno desee, en este caso la tercera

Hola Maestro Jobish

Programar

***Modulo 4 - 2***

In [6]:
#Clase
Ceararchiv = open("/content/drive/MyDrive/EBSCO/Nuevoarchivo.txt", "w") #Crea un archivo si ya existe, sobreescribe

Lines =["Rafa: Hola Lisa\n","mira estoy\n","aprendiendo a programar\n"]

with open("/content/drive/MyDrive/EBSCO/Nuevoarchivo.txt", "w") as File1:

  for line in Lines:

    File1.write(line)


with open("/content/drive/MyDrive/EBSCO/Nuevoarchivo.txt", "a") as File1:
  File1.write("Lisa: Asi se hace rafa ")

In [12]:
#Lab2
# Write line to file
exmp2 = '/content/drive/MyDrive/EBSCO/Ejemplo2.txt'
with open(exmp2, 'w') as writefile:
    writefile.write("Aprendiendo con Python")

with open(exmp2, 'r') as testwritefile: #Este comando nos sirve para leer el contenido de un archivo TXT 
    print(testwritefile.read()) #Solo se imprimira el "Aprendiendo Python

with open(exmp2, 'w') as writefile: #Este codigo reescribe un archivo ya existente
    writefile.write("Esta es la primera linea A\n")
    writefile.write("Esta es la segunda linea B\n")

with open(exmp2, 'r') as testwritefile: #Aqui se imrpime la nueva version del cntenido del archivo
    print(testwritefile.read())

Aprendiendo con Python
Esta es la primera linea A
Esta es la segunda linea B

In [19]:
Linea = ["Me gusta \n", "Mucho practicar \n", "Mi Python \n"] #Eejmplo de la creación de una lista
Linea

['Me gusta \n', 'Mucho practicar \n', 'Mi Python \n']

In [23]:
with open('Example2.txt', 'w') as writefile: #Aqui podemos reescribir el contenido del archivo anterior con lo que viene  en la lista
    for line in Linea:
        print(line) #Imprime cada linea por semarado
        writefile.write(line)


with open('Example2.txt', 'r') as testwritefile: #Aqui solamente se imrpime la ultima version
   print(testwritefile.read())

Me gusta

Mucho practicar

Mi Python

Me gusta
Mucho practicar
Mi Python

In [26]:
with open('Example2.txt', 'w') as writefile: #Nuevamente podemos observar como se sobre escribe con este codigo un TXT ya existente y borra todo
    writefile.write("Lineas borradas \n")
with open('Example2.txt', 'r') as testwritefile:
    print(testwritefile.read())

Lineas borradas

In [30]:
with open('Example2.txt', 'a') as testwritefile: #En este ejercicio podemos agregar información sin sobreescribir los existentes
    testwritefile.write("Este texto\n")
    testwritefile.write("fue agregado\n")
    testwritefile.write("Sin borrar el anterior\n")


with open('Example2.txt', 'r') as testwritefile: #Leemos
 print(testwritefile.read())

Lineas borradas
Este texto
fue agregado
Sin borrar el anteriorE
Este texto
fue agregado
Sin borrar el anterior
Este texto
fue agregado
Sin borrar el anterior

In [32]:
with open('Example2.txt', 'a+') as testwritefile: #Agrega y lee al mismo modo el contenido del TXT
    testwritefile.write("Esta es la nueva linea\n")
    print(testwritefile.read())

In [33]:
with open('Example2.txt', 'a+') as testwritefile:
    print("Posicion inicial: {}".format(testwritefile.tell()))
    
    data = testwritefile.read()
    if (not data):  #empty strings return false in python
            print('Leyendo nada') 
    else: 
            print(testwritefile.read())
            
    testwritefile.seek(0,0) # mueve ceros bytes desde el inicio
    
    print("\nNueva posicion : {}".format(testwritefile.tell()))
    data = testwritefile.read()
    if (not data): 
            print('Leyendo nada') 
    else: 
            print(data)
    
    print("Ubicacion despues de la lectura: {}".format(testwritefile.tell()) )

Posicion inicial: 205
Leyendo nada

Nueva posicion : 0
Lineas borradas
Este texto
fue agregado
Sin borrar el anteriorE
Este texto
fue agregado
Sin borrar el anterior
Este texto
fue agregado
Sin borrar el anterior
Esta es la nueva linea
Esta es la nueva linea

Ubicacion despues de la lectura: 205

In [35]:
with open('Example2.txt', 'r+') as testwritefile:
    data = testwritefile.readlines()
    testwritefile.seek(0,0) #Nos ayuda a escribir desde el incio del TXT
   
    testwritefile.write("Nueva linea 1" + "\n")
    testwritefile.write("Nueva linea 2" + "\n")
    testwritefile.write("Nueva linea 3" + "\n")
    testwritefile.write("Terminado\n")
   
    testwritefile.truncate() #Esta liena en especifico formatea todo el archivo
    testwritefile.seek(0,0)
    print(testwritefile.read())

Nueva linea 1
Nueva linea 2
Nueva linea 3
Terminado

In [41]:
with open('Example2.txt','r') as readfile: #Aqui podmeos apreciar una forma de copiar archivos
    with open('/content/drive/MyDrive/EBSCO/Ejemplo3.txt','w') as writefile:
          for line in readfile:
                writefile.write(line)


with open('/content/drive/MyDrive/EBSCO/Ejemplo3.txt','r') as testwritefile:  #Esta linea es solo para abrir y corroborar el nuevo archivo
    print(testwritefile.read())

Nueva linea 1
Nueva linea 2
Nueva linea 3
Terminado

In [67]:
#Ejercicio
#Este codigo solo carga a nuestra base los archivos inactive.TXT y members.TXT
from random import randint as rnd

memReg = '/content/drive/MyDrive/EBSCO/miembros.txt'
exReg = '/content/drive/MyDrive/EBSCO/inactivos.txt'
fee =('yes','no')

def genFiles(current,old):
    with open(current,'w+') as writefile: 
        writefile.write('Num. memebresia  Fecha inicio  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"

        for rowno in range(20):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[rnd(0,1)]))


    with open(old,'w+') as writefile: 
        writefile.write('Num. memebresia  Fecha inicio  Active  \n')
        data = "{:^13}  {:<11}  {:<6}\n"
        for rowno in range(3):
            date = str(rnd(2015,2020))+ '-' + str(rnd(1,12))+'-'+str(rnd(1,25))
            writefile.write(data.format(rnd(10000,99999),date,fee[1]))


genFiles(memReg,exReg)

In [68]:
def cleanFiles(currentMem,exMem): #Delcaramos la funcion
    with open(currentMem,'r+') as writeFile: #Abrimos el archvo a lectura y escritura
        with open(exMem,'a+') as appendFile: #Abrimos el arcivo a anexion y lectura
            
            writeFile.seek(0) #Obtenemos la informacion
            members = writeFile.readlines()
           
            header = members[0] #Con esto removemos el encabezado
            members.pop(0)
                
            inactive = [member for member in members if ('no' in member)]
          
            
            writeFile.seek(0)  #Nos posicionamos al inicio del archivo
            writeFile.write(header)
            for member in members:
                if (member in inactive):
                    appendFile.write(member)
                else:
                    writeFile.write(member)      
            writeFile.truncate()
                
memReg = '/content/drive/MyDrive/EBSCO/miembros.txt'
exReg = '/content/drive/MyDrive/EBSCO/inactivos.txt'
cleanFiles(memReg,exReg)



headers = "No de Miembro No  Date Joined  Active  \n"

#visualizamos el codigo

with open(memReg,'r') as readFile:
    print("Miembros activos: \n\n")
    print(readFile.read())
    
with open(exReg,'r') as readFile:
    print("Miembros inactivos: \n\n")
    print(readFile.read())

Miembros activos:


Num. memebresia  Fecha inicio  Active
    55182      2019-7-10    yes
    50879      2020-6-14    yes
    54616      2015-8-21    yes
    42696      2020-1-13    yes
    42529      2019-10-21   yes
    12670      2020-9-7     yes
    99796      2018-5-16    yes
    42899      2018-6-2     yes
    98179      2016-10-24   yes
    30886      2019-11-10   yes
    76529      2020-5-25    yes

Miembros inactivos:


Num. memebresia  Fecha inicio  Active
    11414      2018-11-9    no
    81408      2019-1-24    no
    87925      2018-8-11    no
    81852      2017-6-4     no
    23007      2016-7-24    no
    71510      2020-10-1    no
    15054      2018-3-10    no
    24853      2015-3-14    no
    97815      2019-4-15    no
    38356      2017-8-12    no
    12570      2016-4-16    no
    60546      2015-2-13    no

***Modulo 4 - 3***

In [4]:
#Notas

import pandas as pd #Importamos la libreria "Pandas" y la abreviamos como "pd"

df = pd.read_csv("/content/drive/MyDrive/EBSCO/Base.csv") #Mandamos a leer la base de datos 


print(df) #Con este codigo mandamos a imprimir nuestra base de datos

print("\n")

print(df.head()) #Con este codigo imprimimos las primeras 5 filas

   Clase del profesoe Jobish
0                      Mario
1                   Fernando
2                      Pablo
3                  Carlonina
4                     Rebeca
5                      Kelly
6                      David
7                       Jose
8                    Eduardo
9                     Citali
10                     Karen
11                    Carmen
12                     Juana


  Clase del profesoe Jobish
0                     Mario
1                  Fernando
2                     Pablo
3                 Carlonina
4                    Rebeca

In [5]:
import pandas as pd #Volvemos a definir pandas como "pd"

xlsx_path="/content/drive/MyDrive/EBSCO/Alumnos.xlsx"

df= pd.read_excel(xlsx_path) #lee el archivo xlsx
df.head() #este codigo nos lee las primeras 5 columnas

   Maricula          Nomebre       Campus
0    156156  Maria Espindola    Monterrey
1    512347    Jose Hernadez         CDMX
2    354791     Andrea Tadeo         CDMX
3    512746     Max Albuerne          Qro
4    965787    David Quijano  Guadalajara

In [16]:
import pandas as pd #Volvemos a definir pandas como "pd"

Libro = {'Libro':['One Hundred Years of Solitude','Hopscotch', 'Ficciones'], 'Autor' :['Gabriel Garcia Marquez', 'Julio Cortazar','Jorge Luis Borges'], 'Año' :['1982', '1975', '2006']}
Libros_frame = pd.DataFrame(Libro) #Comvertimos nuestro diccionario en lista

Libros_frame.head() #Manamos a imrpimir

                           Libro                   Autor   Año
0  One Hundred Years of Solitude  Gabriel Garcia Marquez  1982
1                      Hopscotch          Julio Cortazar  1975
2                      Ficciones       Jorge Luis Borges  2006

In [17]:
import pandas as pd #Volvemos a definir pandas como "pd"

Libro = {'Libro':['One Hundred Years of Solitude','Hopscotch', 'Ficciones'], 'Autor' :['Gabriel Garcia Marquez', 'Julio Cortazar','Jorge Luis Borges'], 'Año' :['1982', '1975', '2006']}
Libros_frame = pd.DataFrame(Libro) #Comvertimos nuestro diccionario en lista

Libros_frame.iloc[1,0] #Con esto rimprimimos el contenido de la segunda fila primera columna

'Hopscotch'

In [28]:
import pandas as pd #Volvemos a definir pandas como "pd"

Libro = {'Libro':['One Hundred Years of Solitude','Hopscotch', 'Ficciones'], 'Autor' :['Gabriel Garcia Marquez', 'Julio Cortazar','Jorge Luis Borges'], 'Año' :['1982', '1975', '2006']}
Libros_frame = pd.DataFrame(Libro) #Comvertimos nuestro diccionario en lista

Libros_frame['Año']=="1975"

0    False
1     True
2    False
Name: Año, dtype: bool